:root {
  --background: #020305; /* Фон */
  --primary: #0059ff; /* Это просто свечение */
  --gradient: #0066ff; /* 2 цвет градиента текста с названием чита */
  --color: #0066ff;
  --secondary: #4560e9; /* Кнопки и вся хуйня */
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/SFProText-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

.pulse {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  70% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.item {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.blur-element {
  filter: blur(350px);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blur-element {
    filter: blur(80px);
  }
}
